<label>Server Name</label>
<input type="text" class="form-control" [(ngModel)]="serverName">
<label>Server Id</label>
<input type="text" class="form-control" (input)="onUpdateServerId($event)">
<button class="btn btn-primary"
        [disabled]="!allowNewServers"
        (click)="onCreateServer()">
  Add new Server
</button>
<ul class="list-group">
  <li class="list-group-item"></li>

</ul>
<app-server></app-server>
<app-server></app-server>
<hr>
<p *ngIf="serverCreated;else noServer">{{serverCreationStatus}}</p>
<ng-template #noServer>
  <p>
    Let's create new item
  </p>
</ng-template>
